<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
</head>
<!-- jquery  -->
<script src="jquery.js"></script>
<!-- stomp协议的客户端脚本 -->
<script src="stomp.js"></script>
<!-- SockJS的客户端脚本 -->
<script src="sockjs.js"></script>
<body onload="disconnect()">
<div>
    <div>
        <label>名字</label><input type="text" id="name" />
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    </div>
    <div id="conversationDiv">
        <p>
            <label>当前人数:</label>
            <label id="status">0</label>
            <button onclick="refreshStatus();">刷新</button>
        </p>
        <label>对</label>
        <select id="userSelector">
            <option value="-1">所有人</option>
        </select>
        <label>说</label><input type="text" id="msg" />
        <button id="sendName" onclick="send();">发送</button>
        <p id="response"></p>
    </div>
</div>

<script type="text/javascript">
    var stompClient = null;

    function setSelectorItems(users) {
        var selector = $('#userSelector')[0];
        //除了第一个以外删除其他所有元素
        var length = selector.options.length;
        for (i = length-1; i > 0; --i) {
            selector.options[i] = null;
        }

        for (i = 0; i < users.length; ++i) {
            var opt = document.createElement('option');
            opt.text = users[i];
            opt.value = i;
            selector.add(opt);
        }
    }

    function refreshStatus() {
        $.getJSON('/user/getUsers', function(result) {
            if (!result.success) {
                showMessage(result.message, "color: red");
            } else {
                showStatus(result.data);
            }
        });
    }

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        $("#status")[0].textContent = "0";
        $('#response').html();
    }

    function connect() {
        var name = $('#name').val();
        var socket = new SockJS('/websocket-simple?name=' + name);
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            // 客户端订阅消息的目的地址：此值BroadcastCtl中被@SendTo("/topic/getResponse")注解的里配置的值
            stompClient.subscribe('/topic/send', function (response) {
                receive(JSON.parse(response.body));
            });
            stompClient.subscribe('/user/queue/send', function (response) {
                receive(JSON.parse(response.body));
            });

            //准备好了
            stompClient.send("/send", {}, JSON.stringify({ 'messageType': 'CLIENT_READY' }));
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function send() {
        var msg = $('#msg').val();
        var selectOpt = $('#userSelector')[0].selectedOptions[0];
        if (selectOpt.value !== "-1") {
            var sendTo = selectOpt.text;
            stompClient.send("/send", {}, JSON.stringify({ 'message': msg, 'messageType': 'USER_MESSAGE', 'sendToList': [sendTo] }));
        } else {
            stompClient.send("/send", {}, JSON.stringify({ 'message': msg, 'messageType': 'USER_MESSAGE' }));
        }
        // 客户端消息发送的目的：服务端使用BroadcastCtl中@MessageMapping("/receive")注解的方法来处理发送过来的消息
    }

    function receive(messageDto) {
        switch (messageDto.messageType) {
            case "SYSTEM_MESSAGE":
                showMessage(messageDto.message, "color: red");
                break;
            case "USER_MESSAGE":
                showMessage(messageDto.message, "color: black");
                break;
            default:
                break;
        }
    }

    function showMessage(message, style) {
        var response = $("#response");
        response.html("<p style='" + style +  ";'>" + message + "</p>" + response.html());
    }

    function showStatus(users) {
        setSelectorItems(users);
        var status = $("#status");
        status.html(users.length);
    }

</script>
</body>
</html>