<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,viewport-fit=cover,user-scalable=no">
    <title th:text="${name}"></title>
    <link rel="shortcut icon" href="tank/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div id="wrapper">
    <canvas id="canvas">页面显示异常,请联系作者(WX: Jiang_Vin)</canvas>
    <div id="input-name-div">
        <input id="input" type="text" placeholder="请输入名字" class="input-name"/>
        <button id="button1" class="connect" style="top: 150px;">键盘控制</button>
        <button id="button2" class="connect" style="top: 225px;">触屏控制</button>
    </div>
<!--    <div class="select-window" id="room-list" style="visibility: hidden;"></div>-->
</div>
<!--<script src="tank/js/resource.js"></script>-->
<!--<script src="tank/js/frame.js"></script>-->
<!--<script src="tank/js/status.js"></script>-->
<!--<script src="tank/js/play.js"></script>-->
<!--<script src="tank/js/control.js"></script>-->
<!--<script src="tank/js/common.js"></script>-->
<!--<script src="tank/js/item.js"></script>-->
<!--<script src="tank/js/stage.js"></script>-->
<!--<script src="tank/js/game.js"></script>-->
<!--<script src="tank/js/menu.js"></script>-->
<!--<script src="tank/js/room.js"></script>-->
<!--<script src="tank/js/index.js"></script>-->
<script type="module" src="/js/web/index.js"></script>
</body>
</html>
