<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,viewport-fit=cover,user-scalable=no">
    <title th:text="${name}"></title>
    <link rel="shortcut icon" href="image/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body bgcolor="#000000">
<div id="wrapper">
    <canvas id="canvas"></canvas>
    <div id="main" class="rect-16to9">

    </div>
</div>
<script src="js/web/libs/jquery.min.js"></script>
<script src="js/web/libs/soundjs.min.js"></script>
<script src="js/share/libs/jsencrypt.min.js"></script>
<script type="module" src="js/web/index.js"></script>
</body>
</html>
