* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    display: block;
    background: #000000;
}

div.rect-16to9 {
    width: 1920px;
    height: 1080px;
}

input {
    border: 1px solid #33C6E9;
    font-size: 2em;
    padding: .3em;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    color: #5E6C77;
    text-align: center;
    border-radius: .5em;
}

input:focus {
    outline: none;
    border-color: #33C6E9;
    color: #343434;
}

input.input-name-web {
    left: 29%;
    top: 360px;
    width: 40%;
    height: 2em;
}

input.input-name {
    height: 1.8em;
    left: 50%;
    top: 58%;
    width: 660px;
    transform: translateX(-338px);
}

button {
    min-width: 10%;
    text-align: center;
    font-size: 2em;
    padding: .3em;
    margin: .2em;
    border-radius: .4em;
    color: #5e6c77;
    background: #ffffff;
    border: 2px solid #000;
    outline: none;
}

button:hover {
    color: #ffffff;
    background: #5e6c77;
    border: 2px solid #5E6C77;
}

button:active {
    border: 2px solid #2b2b2b;
}

button.connect {
    width: 800px;
    height: 3.5em;
    position: absolute;
    left: 28.5%;
}

button.action {
    width: 8em;
}

button.right {
    float: right;
}

div.select-window {
    position: absolute;
    border: 2px solid #5E6C77;
    border-radius: 1em;
    top: 20%;
}

.select-item {
    border: 2px solid #5E6C77;
    border-radius: .5em;
    padding: .5em;
    margin: 0.5rem;
}

.select-item input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.select-item input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-top: 1%;
    margin-right: 2%;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.select-item input[type="radio"]:checked + .radio-label:before {
    background-color: #ee5752;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.select-item input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #ee5752;
}

.select-item input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.select-item input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

.radio-label {
    margin-right: 1%;
    color: #ffffff;
}